{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="phase-banner">
    <p>
      <strong class="phase-tag">ALPHA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <a href="javascript:history.back()" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Direct Debit account number
      </h1>

      <div class="form-group">
        <label class="form-label" for="ni-number">
      <span class ="form-label-bold">Account number</span>
      <span class="form-hint">
    This is the 8 digit number found on the front of the card used for this direct debit.
    </span>
    </label>
    <input class="form-control" id="ni-number" type="text" name="ni-number">
    </div>



      <div class="form-group" style="margin-top:15px;">
      <a href="direct-debit-form-sort-code" class="button" type="submit" value="Save and continue">Continue</a>
      </div>

    </div>
  </div>
</main>

{% endblock %}
